.rightDivMain{
    width: 26%;
    color: white ;
    margin: 2vh 0 0 0;
    justify-items: right ;
}
.rightRight{
    position:absolute;
    top: 8;
    right:0;
}

.sideMenuItem{
    gap:1vh;
    margin: 0.5vh;
    display: flex;
    
    align-items: center;
    height: fit-content;
}
.sideMenuItemonline{
    gap:1vh;
    margin: 0.5vh;
    display: flex;
    border-left: 2px solid green;
    align-items: center;
    height: fit-content;
}

.sideMenuItemoffline{
    gap:1vh;
    margin: 0.5vh;
    display: flex;
    border-left: 2px solid rgb(214, 228, 214);
    align-items: center;
    height: fit-content;
}

.sideMenuItem2{
    gap:1vh;
    margin: 0.5vh;
    display: flex;
    align-items: center;
}

.sideMenuMain{
    padding: 1vh;
}

.textDiv{
    letter-spacing: .08vh;
    text-transform: capitalize;
    font-family: Rajdhani, sans-serif;
    font-size: 1.2vh;
    font-weight: 600;
    line-height: 1.6vh;
}

.secText{
   
    letter-spacing: .08vh;
    text-transform: capitalize;
    font-family: Rajdhani, sans-serif;
    font-size: 1.2vh;
    font-weight: 600;
    line-height: 1.6vh;
}

